
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font{
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

/* shared styles */
.display-flex{
    display: flex;
}

.text-primary{
    color: #FF900E;
}

/* dark 02 */
.text-gray{
    color: #424242;
}

/* dark03 */
.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
    height: 64px;
    width: 180px;
}

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}

/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    width: 800px;
    font-weight: 700;
    font-size: 4rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.banner-image{
    width: 100%;
}

/* Our features team*/

.features-container{
    height: 700px;
    width: 1440px;
    margin-top: 55px;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.features-image-container{
    /* border: 1px solid red; */
    height: 700px;
    width: 700px;
    margin-left: 40px;
}

.fetures-img-1{
    height: 342px;
    width: 342px;
}

.quick-list{
    height: 313px;
    width: 537px;
    margin-top: 200px;
    /* border: 1px solid red; */
}

.features-T{
    font-size: 3rem;
}

.features-P{
    margin-top: -30px;
    font-size: 1rem;
}

/* Love & enjoy section */

.love-enjoy-container{
    height: 920px;
    width: 1430px;
    position: relative;
    gap: 40px;
    /* border: 1px solid red; */
}

.element{
    margin: 0 auto;
}

.love-enjoy-section{
    width: 586px;
    /* border: 1px solid red; */
}

.love-enjoy-T{
    height: 65px;
    width: 300px;
    font-size: 1.8rem;
    padding-left: 21px;
    /* text-align: start; */
    border-left: 4px solid #FF900E;
}
.love-enjoy-P{
    height: 62px;
    width: 586px;
    font-size: 1rem;
    margin-top: -5px;
    /* border: 1px solid red; */
}

.version-container{
    height: 680px;
    width: 586px;
    background-color: ghostwhite;
    /* border: 1px solid red; */
}

.verion{
    height: 150px;
    width: 514px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding: 1px 10px 0 15px;
    /* border: 1px solid red; */
}

.version-T{
    height: 23px;
    width: 252px;
    font-size: 1.2rem;
    /* margin-top: -1px; */
    /* border: 1px solid red; */

}

.version-P{
    font-size: 1rem;
    margin-top: -20px;
    /* border: 1px solid red; */

}

.arch-img{
    height: 870px;
    width: 700px;
    /* margin-left: 400px; */
}

.btn{
    height: 100px;
    width: 200px;
    position: absolute;
    margin-top: -118px;
    margin-left: 47%;
    border: none;
    background-color: #FF900E;
}

.btn-p{
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
}

.btn-p-2{
    color: #FFFFFF;
}

/* Some Fact */
.some-facts{
    margin-left: 70px;
    /* border: 1px solid red; */
}
.some-facts-T{
    height: 53px;
    width: 258px;
    font-size: 2rem;
    /* border: 1px solid red; */
}
.some-facts-P{
    height: 52px;
    width: 542px;
    margin-top: -20px;
    font-size: 1rem;
    /* border: 1px solid red; */

}
